font-face {
    font-family: Montserrat-Regular;
    src: url('../../../assets/fonts/Montserrat-Regular.woff');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../../../assets/fonts/Montserrat-Regular.woff');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../../assets/fonts/Montserrat-Medium.woff');
}

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0d0d0d;
    background-image: url('../../../assets/images/Fundo.png');
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-attachment: fixed;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    color: white;
    padding-left: 1em;
    padding-top: 1em;
}

.item:hover{
cursor: pointer;
}

.item-favorito, .item-lupa, .item-usuario, .item-logo:hover{
cursor: pointer;
}

.item-logo img{
    height: 2.5em;
    padding-right: 14em;
}

.item{
    margin: 0.8em 0.8em 1.4em 0.8em;
    font-size: 1em;
    font: 14px Montserrat-Regular;
}

.item, .item-favorito img{
 margin-right: 0.5em
}
.item-favorito{
    margin: 0.6em 0.8em 1.2em 0.8em;
    font-size: 1em;
    font: 14px Montserrat-Regular;
   }
   

.item-lupa img{
    height: 2em;
    margin-left: 17em;
}

.item-usuario{
    height: 1.8em;
    margin-left: 2em;
}




*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0d0d0d;
}

.rodape{
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 4em;
    align-items: center;
    text-align: center;
}

.copyright{
    font: 14px Montserrat-Regular; 
}

.box-itens{
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

.redes-sociais{
    display: flex;
    flex-direction: row; 
    padding-top: 2em;
}

.item{
    padding-right: 0.8em;
    font: 14px Montserrat-Medium;
}

.redes-sociais img{
    padding-right: 1em;
    padding-bottom: 1em;
    height: 2.4em;
}

.retangulo-1{
    border: 1.5px solid #7E00FC;
    background-color: #7E00FC;
    width: 100%;

}

.retangulo-2{
    margin-top: 2em;
    padding-top: 3em;
    background-color: #7E00FC;
    width: 100%;
}

.cabecalho-corpo{
    display: flex;
    flex-direction: row;
    margin-left: 5.5em;
    margin-top: 5em;
}

.icone button{
    margin-left: 73.5em;
    background: none;
    border: none;
}

.barrinha{
    background-color: white;
    width: 11px;
    height: 35px;
}

.conteudo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2em;
}

.corpo{
    max-width: 100%;
}

.catalogo{
    margin: 3em;
}

.descricao{
    text-align: center;
    margin-top: .5em;
}

.titulo{
    font-family: Montserrat-Medium;
    font-size: x-large;
    color: white;
    margin-left: .5em;
    padding: 4px;
}

.corpo{
display: flex;
flex-direction: column;
}


.descricao{
    color: white;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #323232;
  }
  
body::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
    background-color: #323232;
  }
  
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #7E00FC;
  }