body {
    margin: 2em;
}

.container_menu{
    background-color: #7E00FC;
}

hr{
    border: 1px solid #d1d1d1;

    width: 2.7em;
}

.perfil{
    display: flex;
    flex-direction: row;

    background: linear-gradient(to bottom, #7E00FC 31.77%, #0d0d0d 100%);
}

.menu_item{
    background-color: #0d0d0d;
}