@font-face {
    font-family: Montserrat-Bold;
    src: url('../../../assets/fonts/Montserrat-Bold.woff');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../../../assets/fonts/Montserrat-Regular.woff');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../../assets/fonts/Montserrat-Medium.woff');
}

body{
    margin: 0px;
    color: #fff;
    font-family: Montserrat-Regular;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #323232;
}
  
body::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
    background-color: #323232;
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #7E00FC;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #7E00FC;
}

.item_usuario img{
    margin-right: 40px;
}

.catalogo{
    background-image: linear-gradient(to bottom, #000000, #0d0d0d);
}

.adi_fav{
    display: block;
    right: 0;
    position: absolute;
    margin-right: 20px;
    margin-top: 30px;    
    
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #aa8ed6;
    padding: 1em;
    padding-bottom: 0.5em;
}

.adi_fav img{

    width: 24px;
    height: 24px;
}

.info_basica{
    background-position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
   
    padding-left: 2em;
    padding-bottom: 1em;
}

.alt_fundo button{
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.21);
    position: relative;
    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;

    border-radius: 6px;
    border: 0px transparent;

    padding: 1em 2em 1em 2em;
    margin: 15em 0em 0em 33em;
}

.alt_fundo button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    overflow: hidden;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transition: 0.5s;
}

.alt_fundo button:hover::before{
    width: 100%;
    height: 100%;
}

.alt_fundo button::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    overflow: hidden;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transition: 0.5s;
}

.alt_fundo button:hover::after{
    width: 100%;
    height: 100%;
}

.alt_fundo button:hover{
    box-shadow: 0 0 1em #ffffff8c;
}

.alt_fundo button:hover{
    background: #ffffff;
    color: #111;
    box-shadow: 0 0 50px #f5f5f5;
    transition-delay: 0.5s;
}

.situacao{
    color: #7e00fc;
    font-size: 16px;
    font-family:  Montserrat-Medium;
    
    padding-top: 10em;
}

.info_b{
    display: flex;
    flex-direction: row;
    color: #ffffff;

    font-size: 18px;
    width: 70em;
    height: 3em;
    margin-top: 15px;
}

.classificacao{
    background-color: #ff0000;
    height: 1.5em;
    border-radius: 3px;
    padding: 4px 10px;
    margin: 0px 8px;
}

.produtora{
    margin-left: 6px;
}

.menu{
    margin-left: 38em;
}

.info_gerais{
    padding-left: 2em;
    padding-right: 5em;
    padding-top: 3.5em;
}

.gen_est{
    display: flex;
    flex-direction: row;
}

.genero{
    width: 500px;

    margin-right: 10em;
}

.tit_gen{
    font-family: Montserrat-Regular;
    font-size: 16px;
    font-weight: bold;
    color: #747474;

    margin-bottom: 2em;
}

.text_gen{
    font-family: Montserrat-Regular;
    font-size: 17px;
    color: #ffffff;

    margin-bottom: 3.8em;
}

.estrelando{
    width: px;
}

.atores{
    display: flex;
    flex-direction: row;
}

.est{
    height: 60px;

    margin-right: 3em;
}

.tit_est{
    font-family: Montserrat-Regular;
    font-size: 16px;
    font-weight: bold;
    color: #747474;

    margin-bottom: 2em;
}

.text_est{
    font-family: Montserrat-Regular;
    font-size: 17px;
    color: #ffffff;
}

.tit_s{
    display: flex;
    flex-direction: row;

    color: #747474;
    font-weight: bold;
    font-size: 19px;
    font-family: Montserrat-Regular;

    margin-bottom: 2em;
}

.linha_red{
    width: 0px;
    height: 30px;
    border: 2px solid #ff0000;

    margin-right: 30px;
}

.text_s{
    color: #ffffff;
    font-size: 16px;
    font-family: Montserrat-Regular;

    margin-bottom: 2.5em;
}

.videos{
    margin-left: 3em;
    margin-bottom: 6em;
}

.titulo_v{
    color: #747474;
    font-size: 19px;
    font-family: Montserrat-Regular;

    margin-bottom: 1.2em;
}

.nome_anime_v{
    color: #747474;
    font-size: 19px;

    margin-left: 8px;
}

.trailers{
    display: flex;
    flex-direction: row;
}

.trailer{
    margin-right: 3em;
}

.titulo_video{
    display: flex;
    flex-direction: row;

    color: #ffffff;
    font-size: 16px;
    font-family: Montserrat-Regular;

    margin-right: 3em;
}

.publicar button{
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: #7E00FC;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 6px;
    border: none;
    width: 189px;
    height: 46px;
    margin-left: 38em;
    margin-bottom: 4em;
}

.publicar button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    overflow: hidden;
    border-top: 2px solid #7E00FC;
    border-left: 2px solid #7E00FC;
    transition: 0.5s;
}

.publicar button:hover::before{
    width: 100%;
    height: 100%;
}

.publicar button::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    overflow: hidden;
    border-bottom: 2px solid #7E00FC;
    border-right: 2px solid #7E00FC;
    transition: 0.5s;
}

.publicar button:hover::after{
    width: 100%;
    height: 100%;
}

.publicar button:hover{
    box-shadow: 0 0 1em #A245FF;
}

.publicar button:hover{
    background: #7E00FC;
    color: #111;
    box-shadow: 0 0 50px #561DFA;
    transition-delay: 0.5s;
}