@font-face {
    font-family: fonte-100;
    src: url('../../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: fonte-200;
    src: url('../../assets/fonts/Montserrat-Medium.woff');
}

@font-face {
    font-family: fonte-300;
    src: url('../../assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: fonte-400;
    src: url('../../assets/fonts/Montserrat-Bold.woff');
}

.item-usuario{
    margin-top: 0%;
}

.editar-perfil {
    text-align: center;
    box-shadow:0px 4px 36px #A245FF;
    border-radius: 10px;
    width: 1000px;
    height: 1000px;
    margin-left: 10em;
    margin-top: 40px;  
    background-attachment: fixed;
}

.editar-perfil-imagem {
    background-image: url(../../../assets/images/fundo-confg.jpeg);
    height: 1000px;
    background-size: 95% 100%;
    background-repeat: no-repeat;
    margin-left: 45px;
}

 .item-imagem img{
    height: 150px;
    margin-top: 25px;
    width: 152px;
 }

 .item-nomeperfil {
   margin-bottom: 40px;
   font-size: 35px;
 }

 .item-botao button {
   background-color: transparent; 
   color: #7E00FC;
   font-size: 20px;
   border: 0px transparent;
   margin-bottom: 50px;
 }

.perfil-editar-box input{
    color: white;
    background-color: #323232;
    border: 0px transparent;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 20px;
   text-align: center;
}

.nome-editar input{
    width: 474px;
    height: 31px;
    left: 486px;
    top: 479px;
    padding-left: 5%;
}

.usuario-editar input {
    width: 474px;
    height: 31px;
    left: 486px;
    top: 100px;
    padding-left: 30%;
}

.biografia-editar input {
    width: 481px;
    height: 164px;
    left: 486px;
    top: 601px;      
}

.email-editar input{
    width: 474px;
    height: 31px;
    left: 486px;
    top: 479px;
}

.telefone-editar input{
    width: 474px;
    height: 31px;
    left: 486px;
    top: 479px;
}

.genero-editar input{
    width: 474px;
    height: 31px;
    left: 486px;
    top: 479px;
}

.botao-box{
Display: flex;
Flex-direction: row;
align-items: center;
justify-content: space-between;
}

.voltar-botao button{
   Background-color:#7E00FC ;
   border-radius: 15px;
   width: 95px;
   Height:28px;
   margin-left: 150px;
   margin-top: 200px;
}

.desativar-botao button{
    border: none;
    background-color: transparent;
    Color: #7E00FC;
    text-decoration: underline;
    display: flex;
    width: 300px;
    height: 10px;
    
    margin-left: 299px;
    margin-top: 200px;
}

