body{
    margin: 0px;
    color: #fff;
    font-family: Montserrat-Regular;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #323232;
}
  
body::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
    background-color: #323232;
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #7E00FC;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #7E00FC;
}

.conteudo_edit {
    box-shadow: 0 0 1.2em #A245FF;
}

.back {
    background-image: url(../../../assets/images/Fundo_editperfil.png);
    background-repeat: no-repeat;

    margin-left: 16em;
}

.nick {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat-Regular;

    padding-top: 1em;
}

.alt_fundo button{
    background-color: transparent;
    color: #7E00FC;
    border: none;
}

.nome_campo .usuario_campo .biografia_campo .email_campo .telefone_campo .genero_campo{
    color: #ffffff;
    font-family: Montserrat-Regular;
    font-size: 18px;
    font-weight: bold;
}

input{
    color: #ffffff;
    font-family: Montserrat-Regular;

    border-radius: 5px;
    border: 0px transparent;
    background-color: #323232;

    outline: none;

    margin-left: 2em;
    width: 11em;
    height: 2em;
}

.biografia_campo input{
    color: #ffffff;
    font-family: Montserrat-Regular;

    background-color: #323232;

    width: 11em;
    height: 9em;
}

.botoes {
    display: flex;
    flex-direction: row;
}

.voltar_botao button {
    color: #ffffffff;
    font-size: 16px;
    font-weight: bold;
    background-color: #530194;

    border-radius: 20px;
    border: 0px transparent;

    padding: 3px 25px 3px 25px;
}

.voltar_botao button:hover{
    background: #FFFF;
    color: #561DFA;
    box-shadow: 0 0 50px #561DFA;
}

.desativar_botao button {
    color: #530194;
    background-color: transparent;
    font-size: 14px;
    font-family: Montserrat-Regular;
    font-weight: bold;

    border: none;
}