.sombra{
    box-shadow: 0 0 2em #A245FF;

    margin-top: 50px;  
    
    border-radius: 1%;
}

.container {
    font-family: Montserrat-Regular;
}

.conteudo {
    padding-left:100px ;
    padding-right: 100px;

    border-width: 500px;

    font-family: Montserrat-Regular;
}

.madara{
    line-height: 350%;
    
}

.texto1 {
    color: white;
   text-align: center;
   font-size: 32px;

   line-height: 300%;
}

.texto2 {
    color: white;
    font-size: 32px;
    text-align: center;

    background-color: #530194;
    background-size: 50px;
    
    line-height: 150%;

    }
.texto3 {
    color: white; 
    text-align: center;
    font-size: 32px;

    line-height: 250%;
}
.texto4 {
    color: white;
    font-size: 32px;
}

.flecha1 {
    line-height: 350%;
    flex-direction:row;
    align-self: left;
}


.texto5 {

    color: white;
    text-align: center;
    font-size: 32px;

    line-height: 250%;

    background-color: #530194;
    background-size:50px;
}

.flecha2{
    line-height: 350%;
    flex-direction:row;
    align-self: left;
}

.texto6 {
    color: white;
    font-size: 32px;
}
.texto7 {
    color: #530194;
    text-align: center;
    font-size: 32px;
    color: white;
}
.texto8 {
    color: white;
    font-size: 32px;
}

.contato1{
    text-align: center;
    color: white;
    font-size: 18px;
}

.contato2{
    text-align: center;
    color: white;
    font-size: 18px;
    
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../../assets/fonts/Montserrat-Regular.woff');
}

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0d0d0d;
}

.cabecalho{
    display: flex;
    flex-direction:row;
    background-color: #1e1e1e;
    color: white;
    padding-left: 25em;
    padding-top: 1em;
}

.item:hover{
cursor: pointer;
}

.item-favorito, .item-lupa, .item-usuario, .item-logo:hover{
cursor: pointer;
}

.item-logo img{
    height: 2.5em;
    padding-right: 14em;
}

.item{
    margin: 0.8em 0.8em 1.4em 0.8em;
    font-size: 1em;
    font: 14px Montserrat-Regular;
}

.item, .item-favorito img{
 margin-right: 0.5em

}
.item-favorito{
    margin: 0.6em 0.8em 1.2em 0.8em;
    font-size: 1em;
    font: 14px Montserrat-Regular;
   }
   

.item-lupa img{
    height: 2em;
    margin-left: 17em;
}

.item-usuario{
    height: 1.8em;
    margin-left: 2em;
}

.texto1 {
    color: white;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../../assets/fonts/Montserrat-Regular.woff');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../assets/fonts/Montserrat-Medium.woff');
}

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0d0d0d;
}

.rodape{
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 4em;
    align-items: center;
    text-align: center;
}

.copyright{
    font: 14px Montserrat-Regular; 
}

.box-itens{
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

.redes-sociais{
    display: flex;
    flex-direction: row; 
    padding-top: 2em;
}

.item{
    padding-right: 0.8em;
    font: 14px Montserrat-Medium;
}

.redes-sociais img{
    padding-right: 1em;
    padding-bottom: 1em;
    height: 2.4em;
}

.retangulo-1{
    border: 1.5px solid #7E00FC;
    background-color: #7E00FC;
    width: 100%;

}

.retangulo-2{
    margin-top: 2em;
    padding-top: 3em;
    background-color: #7E00FC;
    width: 100%;
}

.body{
    margin: 0px !important;
    color: #ffffff;
}