@font-face {
    font-family: Montserrat-Bold;
    src: url('../../../assets/fonts/Montserrat-Bold.woff');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../../../assets/fonts/Montserrat-Regular.woff');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../../assets/fonts/Montserrat-Medium.woff');
}

body{
    margin: 0px;
    box-sizing: border-box;
    background-color: #0d0d0d;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    color: white;
    padding-left: 1em;
    padding-top: 1em;
}

.item:hover{
cursor: pointer;
}

.item-favorito, .item-lupa, .item-usuario, .item-logo:hover{
cursor: pointer;
}

.item-logo img{
    height: 2.5em;
    padding-right: 14em;
}

.item{
    margin: 0.8em 0.8em 1.4em 0.8em;
    font-size: 1em;
    font: 14px Montserrat-Regular;
}

.item, .item-favorito img{
 margin-right: 0.5em
}

.item-favorito{
    margin: 0.6em 0.8em 1.2em 0.8em;
    font-size: 1em;
    font: 14px Montserrat-Regular;
}

.item-lupa img{
    height: 2em;
    margin-left: 11em;
}

.item-usuario{
    height: 1.8em;
    margin-left: 2em;
}

.conteudo-adm{
    background-image: url(../../../assets/images/fundo-pagina-adm.png);
    padding:0em 0em 0em 0em;
    max-width: 85em;
    
}

.conteudo-adm{
}

.pagina-cor{
    position: relative;
    background-color:  #530194;
    padding: 1em 1em 69em 1em;
    opacity: 0.5;
}

.cabecalho-adm {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8em 0em 0em 5em;
    display: flex;
    flex-direction: row;
    
}

.retangulo-branco{
    position: absolute;
    background-color: #FFFFFF;
    padding: 2.5em 0.7em;
}

.titulo-pagina-adm{
    font: 32px Montserrat-Regular;
    padding-left: 1.5em;
    padding-top: 0.7em;
    color: white;
}

.criar img{
    height: 1.5em;
    padding: 15px 0px 0px 10px;
    margin-left: 52em;
}

.menu img{
    
    height: 3.5em;
    padding-bottom: 10px;
}



.linha-1-itens{
    position: absolute;
    top: 0;
    left: 0;
    padding: 8em 0em 0em 5em;
    display: flex;
    flex-direction: row;
}

.linha-2-itens{
    position: absolute;
    top: 0;
    left: 0;
    padding: 35em 0em 0em 5em;
    display: flex;
    flex-direction: row;
}

.linha-3-itens{
    position: absolute;
    top: 0;
    left: 0;
    padding: 54em 0em 0em 5em;
    display: flex;
    flex-direction: row;
}

.linha-4-itens{
    position: absolute;
    top: 0;
    left: 0;
    padding: 73em 0em 0em 5em;
    display: flex;
    flex-direction: row;
}

.linha-5-itens{
    position: absolute;
    top: 0;
    left: 0;
    padding: 92em 0em 0em 5em;
    display: flex;
    flex-direction: row;
}

.linha-1-itens img{
    padding-top: 8em;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6{
    padding-right: 1.5em;
    display: flex;
    flex-direction: column;
    font: 14px Montserrat-Bold;
    color: white;
    text-align: center;
}

.item-1 img, .item-2 img, .item-3 img, .item-4 img, .item-5 img, .item-6 img{
padding-bottom: 1em;
}







.rodape{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 40em;
    align-items: center;
    text-align: center;
}

.copyright{
    font: 14px Montserrat-Regular; 
}

.box-itens{
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

.redes-sociais{
    display: flex;
    flex-direction: row; 
    padding-top: 2em;
}

.item{
    padding-right: 0.8em;
    font: 14px Montserrat-Medium;
}

.redes-sociais img{
    padding-right: 1em;
    padding-bottom: 1em;
    height: 2.4em;
}

.retangulo-1{
    border: 1.5px solid #7E00FC;
    background-color: #7E00FC;
    width: 98vw;

}

.retangulo-2{
    margin-top: 2em;
    padding-top: 3em;
    background-color: #7E00FC;
    width: 98vw;
}

