@font-face {
    font-family: Montserrat-Regular;
    src: url('../../../assets/fonts/Montserrat-Regular.woff');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../../assets/fonts/Montserrat-Medium.woff');
}

body{
    margin: 0px !important;
    color: #ffffff;
    font-family: Montserrat-Regular;
}

hr{
    border: 1px solid #ffffff;

    width: 2.7em;
}

.menu{
    background: linear-gradient(to bottom, #530194 31.77%, #0d0d0d 100%);
    border-radius: 15px;
    width: 200px;

    padding-top: 5px;
    margin: 3em;
}

.menu a{
    color: #ffffff;
    text-decoration: none;
}

.config{
    font-family: Montserrat-Regular;
    text-align: center;
    border-bottom: 1px solid #ffffff;

    padding: 15px 20px 20px 20px;
}

.alterar_senha{
    font-family: Montserrat-Regular;
    text-align: center;
    border-bottom: 1px solid #ffffff;

    padding: 15px 20px 20px 20px;
}

.notificacoes{
    font-family: Montserrat-Regular;
    text-align: center;
    border-bottom: 1px solid #ffffff;

    padding: 15px 20px 20px 20px;
}

.sair{
    color: #7E00FC;
    font-family: Montserrat-Regular;
    text-align: center;

    padding: 15px 20px 20px 20px;
}