@font-face {
    font-family: fonte-100;
    src: url('../../../assets/fonts/Montserrat-Regular.woff');
}

@font-face {
    font-family: fonte-200;
    src: url('../../../assets/fonts/Montserrat-Medium.woff');
}

@font-face {
    font-family: fonte-300;
    src: url('../../../assets/fonts/Montserrat-SemiBold.woff');
}

@font-face {
    font-family: fonte-400;
    src: url('../../../assets/fonts/Montserrat-Bold.woff');
}


body{
    background-image: linear-gradient(#0E0E0E 70%, #1A1A1A);
}


.apresentacao{
    margin-top: 10em;
}


.catalogos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    margin-left: 7.6em;
    margin-bottom: 3em;
}

.catalogo{
    margin-left: 2em;
    margin-bottom: 1.5em;
}

.desc{
    font-family: fonte-100;
    color: white;
    text-align: center;
    margin: .2em;
}

.botao button{
    color: white;
    background-color: transparent;
    border: 3px solid #7E00FC;
    box-sizing: border-box;
    border-radius: 6px;
    width: 189px;
    height: 46px;
    margin-left: 42em;
    margin-bottom: 2.7em;
}

.botao button:hover{
    background-color: #5201941e;
    box-shadow: 0 0 .5em #7E00FC;
}

.titulo{
    color: white;
    text-shadow: 3px 0px 1px #7E00FC;
    font: 36px fonte-300;
    font-family: fonte-100;
    text-align: center;
}

.subtitulo{
    color: #7E00FC;
    font-family: fonte-200;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.texto1, .texto2 {
    font-family: fonte-100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-weight:lighter;
}

.textos{
    margin-top: 3em;
    margin-bottom: 2.6em;
}

.capa :hover{
    box-shadow: 0 0 .8em white;
    border: none;
    border-radius: 10px;
}


.img-completa{
    display: flex;
    flex-direction: row;
}

.barra{
    color: white;
    border-top:  4px solid white;
    background-color: #7E00FC;

    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;

    width: 710px;
    height: 80px;

    margin-top: 2em;
    text-align: center;
    padding-top: 13px;
}

.barra b{
    font-family: 'Montserrat Subrayada', sans-serif;
    display: flex;
    font-size: 22px;
    flex-direction: column;
    text-decoration: underline;
    margin-top: 1em;
}

span{
    display: flex;
    flex-wrap: wrap;
    font-family: fonte-100;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;
    width: 29em;
    margin-left: 9em;
    margin-top: 1em;
}

.barra2{
    border-top:  4px solid white;
    background-color: #7E00FC;
    width: 245px;
    height: 80px;  
    margin-top: 4.7em;
}

.t1{
    color: white;
    text-shadow: 3px 0px 1px #7E00FC;

    font: 36px fonte-300;
    font-family: 'Montserrat Subrayada', sans-serif;

    position: absolute;
    padding-top: 1.1em;
    margin-left: 2.6em;

    text-transform: uppercase;
    letter-spacing: 0.225em;
}

.conteudo{
    margin-top: 3em;
    margin-bottom: 10em;
}

.comunidades{
    display: flex;
    flex-direction: row;

    margin-top: 3em;
    margin-bottom: 3em;
}

.cadastrar button{
    width: 200px;
    height: 40px;

    font-family: fonte-200;
    font-size: 19px;

    color:white;
    background: #530194;

    border: none;
    border-radius: 20px;

    margin-left: 30.5em;
}

.cadastrar button:hover{
    box-shadow: 0 0 1em #A245FF;
}

.t1-titulo{
    color: #7E00FC;
    font-family: fonte-100;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}

.t2-texto{
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;

    text-align: center;
    color: white;

    font-family: fonte-100;
    font-weight: 500;
    font-size: 18px;
    margin-left: 22.5em;
}

.img{
    margin-top: 2em;
}


.button{
    display: flex;
    flex-direction: row;
}