@font-face {
    font-family: Montserrat-Regular;
    src: url('../../../assets/fonts/Montserrat-Regular.woff');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../../assets/fonts/Montserrat-Medium.woff');
}

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0d0d0d;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    color: white;
    padding-left: 1em;
    padding-top: 1em;
    justify-content: center;
}

.item:hover{
cursor: pointer;
}

.item-favorito, .item-lupa, .item-usuario, .item-logo:hover{
cursor: pointer;
}

.box-itens{
   
}

.item-logo img{
    height: 2.5em;
    padding-right: 14em;
}

.item{
    margin: 0.8em 0.8em 1.4em 0.8em;
    font-size: 1em;
    font: 14px Montserrat-Regular;
}

.item, .item-favorito img{
 margin-right: 0.5em
}
.item-favorito{
    margin: 0.6em 0.8em 1.2em 0.8em;
    font-size: 1em;
    font: 14px Montserrat-Regular;
   }
   

.item-lupa img{
    height: 2em;
    margin-left: 12em;
}

.item-usuario{
    height: 1.8em;
    margin-left: 2em;
}

.conteudo-criar-servidor{
    padding: 3em 0em 3em 0em;
}

.box-1 {
    display: flex;
    flex-direction: row;
    background-image: url(../../../assets/images/fundo-criar-servidor.png);
    max-width: 58em;
    min-height: 26em;
    margin-left: 13em;

}


.criar img, .perfil img, .menu img{
    display: flex;
    flex-direction: row;
    height: 2em;
    padding: 10px 0px 0px 10px;
    align-items: right;
    float: right;

}

.criar{
    margin-left: 50em;
}




























.rodape{
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 4em;
    align-items: center;
    text-align: center;
}

.copyright{
    font: 14px Montserrat-Regular; 
}

.box-itens{
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

.box-itens:nth-child(4){

}

.redes-sociais{
    display: flex;
    flex-direction: row; 
    padding-top: 2em;
}

.item{
    padding-right: 0.8em;
    font: 14px Montserrat-Medium;
}

.redes-sociais img{
    padding-right: 1em;
    padding-bottom: 1em;
    height: 2.4em;
}

.retangulo-1{
    border: 1.5px solid #7E00FC;
    background-color: #7E00FC;
    width: 100%;

}

.retangulo-2{
    margin-top: 2em;
    padding-top: 3em;
    background-color: #7E00FC;
    width: 100%;
}