@font-face {
    font-family: fonte-100;
    src: url('../../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: fonte-200;
    src: url('../../../assets/fonts/Montserrat-Medium.woff');
}

@font-face {
    font-family: fonte-300;
    src: url('../../../assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: fonte-400;
    src: url('../../../assets/fonts/Montserrat-Bold.woff');
}

* {
    box-sizing: border-box;
}

body{
    background-color: #323232;
}

.container{
    background-color: #0E0E0E;
    color: #ffffff;
    width: 400px;
    height: 390px;
    border-radius: 11px;
    box-shadow: 0px 4px 27px #FFFFFF;
}

.inicio{
    display: flex;
    flex-direction: row;
    
}
.inicio img{
    margin-top: 10px;
    margin-left: 50px;
}

.titulo{
    font: 18px fonte-400;
    margin-top: 16px;
    margin-left: 80px;
}

.subtitulo{
    display: flex;
    justify-content: center;
    font: 18px fonte-100;
    margin-right: 20px;
    margin-top: 10px;
    
}

.ins-img img{
    width: 130px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ins-img{
    display: flex;
    justify-content: center;
}

.ins-nome{
    display: flex;
    flex-direction: column;
}

.ins-nome input{
    width: 350px;
    background-color: #0E0E0E;
    border: solid 1px #ffffff;
    height: 40px;
    display: flex;
    margin-left: 20px;
    border-radius: 0px;
}

label{
    font: 16px fonte-200;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 15px;
}

.voltar-e-criar{
    display: flex;
    flex-direction: row;
    font: 18px fonte-300;
    margin-top: 20px;
    justify-content: space-between;
    
    padding: 0px 30px 0px 10px;
}

.botao-voltar button{
    background-color: #0E0E0E;
    border: none;
    color: #FFFFFF;
    font: 18px fonte-100;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 10px;

}

.botao-criar button{
    background-color: #7E00FC;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    font: 18px fonte-200;
    font-weight: 700;
}

.botao-criar{
    
    
}