body{
    margin: 0px !important;
    color: #ffffff;
    font-family: Montserrat-Regular;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #323232;
}
  
body::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
    background-color: #323232;
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #7E00FC;
}

.conteudo{
    display: flex;
    flex-direction: row;
    
    background-image: url(../../../assets/images/back_adicionar_post.png);
    background-repeat: no-repeat;
    width: 1300px;

    border-radius: 8px;

    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.publicar_comunidade{
    background-color: #ffffff70;
    box-shadow: 0 0 1.2em #ffffff;
    border-radius: 10px;

    margin-left: em;
    margin-right: 3em;
}

.nome_comunidade{
    display: flex;
    flex-direction: row;
    
    margin: 4em 5em 0em 5em;
    text-align: center;
}

.nome_comunidade img{
    margin-bottom: 5px;
}

.nome_c{
    margin-right: 8em;
    margin-left: 3px;
}

.pontos{
    transform: rotate(270deg);
    width: 20px;
    height: 20px;
}

hr{
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 3em;
}

.titulo_postagem{
    text-align: center;
}

.titulo_postagem img{
    border: 2px solid #ffffff;
    border-radius: 7px;

    width: 40px;
    height: 40px;

    padding: 5em 4em 5em 5em;
    margin-bottom: 2em;
}

.titulo{
    color: #ffffff;
    font-size: 18px;
    font-family: Montserrat-Regular;
    font-weight: bold;

    margin-bottom: 0.2em;
}

.texto{
    color: #ffffff;
    font-size: 15px;
    font-family: Montserrat-Regular;

    margin-bottom: 5em;
}

.botoes_post{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 3em;
}

.botao_fechar button{
    color: #530194;
    font-size: 16px;
    font-family: Montserrat-Regular;
    font-weight: bold;
    background-color: transparent;

    border-radius: 5px;
    border: 3px solid #530194;

    padding: 5px 10px 5px 10px;
}

.botao_publi button{
    color: #530194;
    font-size: 16px;
    font-family: Montserrat-Regular;
    font-weight: bold;
    background-color: #ffffff;

    border-radius: 5px;
    border: 1px solid #ffffff;

    padding: 5px 10px 5px 10px;
}

.publicacao{
    background-color: #ffffff70;
    box-shadow: 0 0 1.2em #ffffff;
    border-radius: 10px;

    margin-right: 3em;
}

.publis{
    color: #530194;
    font-family: Montserrat-Regular;
    font-size: 16px;
    font-weight: bold;

    background-color: #ffffff;
    text-align: center;
    border-radius: 10px 10px 0px 0px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.usuario{
    display: flex;
    flex-direction: row;

    margin-left: 3em;
    margin-right: 14em;
    margin-top: 2em;
}

.perfil img{
    margin-right: 2em;
}

.nick{
    color: #ffffff;
    font-size: 16px;
    font-family: Montserrat-Regular;
    font-weight: bold;
}

.online{
    color: #ffffff;
    font-size: 15px;
    font-family: Montserrat-Regular;
}

.publi{
    color: #ffffff;
    font-size: 16px;
    font-family: Montserrat-Regular;
    font-weight: bold;

    text-align: center;
}