body{
    font-family: Montserrat-Regular;
    margin: 0px !important;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #323232;
  }
  
body::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
    background-color: #323232;
  }
  
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #7E00FC;
  }

.item-favorito{
    color: #7e00fc;
}

.item {
    color: #ffffff;
}

.favoritos{
    background-attachment: fixed;
}

.back{
    background-image: linear-gradient(to bottom, rgba(100, 1, 182, 0.5), #0d0d0d);
}

.user{
    display: flex;
    flex-direction: row;

    margin-bottom: 3em;
    padding: 7em 0em 0em 6em;

}

.nick{
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 10px;
}

.animes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 0em 5em 2em 6em ;
}

.anime{
    margin-right: 2em;
}

.titulo{
    color: #ffffff;
    font-size: 20px;
    font-family: Montserrat-Regular;
    font-weight: bold;

    white-space: nowrap;
    text-overflow: hidden;
    text-overflow: ellipsis;

    text-align: center;

    max-width: 167px;
    margin-bottom: 2.9em;
}

.item:hover{
    color: #7e00fc;
}