body{
    margin: 0px !important;
}

.login{
    background-color: #4300814f;
    text-align: center !important;
    padding: 2em 0em 0em 0em;
    margin: 5em 0em 0em 30em;
    border-radius: 25px;
    box-shadow: 0 0 2em #A245FF;
    width: 380px;
    height: 380px;
}

.em_sen input{
    background-color: #ffffff;
    color: #000000;
    outline: none;
    border-radius: 3px;
    border: 0px transparent;
    height: 25px;
    width: 320px;

    margin-top: 8px;
    margin: 0.5em 1em 0em 1em;
    padding-left: 12px;
}

input::placeholder {
    color: black;
}

.or{
    margin-top: 25px;
    color: #ffffff;
    font-size: 16px;
}

.linha{
    width: 30px;
    border: 1px solid #fff;
}

.linha_direita{
    text-align: right;
    width: 30px;
    border: 1px solid #fff;
    margin: 0em 0em 0em 15em;
    top: 1em;
}

.login_por{
    border-radius: 3px;
    background-color: #ffffff;
    height: 32px;
    margin: 0.5em 1.6em 0em 1.6em;
}

.login_por img{
    margin-top: 2px;
}

.login_por input{
    border-radius: 3px;
    height: 20px;
    outline: none;
    background: #ffffff;
    border: 0px transparent;
    padding-top: px;
    width: 250px;
    margin: 0em 1em 0em 1em;
}

.login_por button {
    background: #ffffff;
    border: 0px transparent;
}

.item:hover{
    color: #7e00fc;
}