@font-face {
    font-family: Montserrat-Regular;
    src: url('../../assets/fonts/Montserrat-Regular.woff');
}

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0d0d0d;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    color: white;
    padding-left: 1em;
    padding-top: 1em;
}

.item:hover{
cursor: pointer;
}

.item-favorito, .item-lupa, .item-usuario, .item-logo:hover{
cursor: pointer;
}

.item-logo img{
    height: 2.5em;
    padding-right: 14em;
}

.item{
    margin: 0.8em 0.8em 1.4em 0.8em;
    font-size: 1em;
    font: 14px Montserrat-Regular;
}

.item, .item-favorito img{
 margin-right: 0.5em
}

.item-favorito{
    margin: 0.6em 0.8em 1.2em 0.8em;
    font-size: 1em;
    font: 14px Montserrat-Regular;
}

.item-lupa img{
    height: 2em;
    margin-left: 17em;
}

.item-usuario{
    height: 1.8em;
    margin-left: 2em;
}