*{
    box-sizing: border-box;
}

body{
    border: none;
    margin: 0px;
    color: #ffffffff;
}

.container{
    background-image: url(../../../assets/images/fundo-sala.jpeg);
    padding: 25px;
    
}

.cabecalho-chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.itens-direita{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu{
    color: #ffffff;
    font-size: 33px;
    font-weight: 700;
    transform: rotate(90deg);
    cursor: pointer;
    margin-left: 30px;
    margin-right: 10px;
}

.pessoas img{
    width: 50px;
}

.buscar input{
    background-color: #323232BF;
    border: none;
    border-radius: 5px;
    height: 28px;
}

.foto-usu img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.conteudo{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.usuarios-on{
    box-shadow: 0px 4px 20px #A245FF;
}

.blocos-usu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
}