@font-face {
    font-family: Montserrat-Medium;
    src: url('../../assets/fonts/Montserrat-Medium.woff');
}

.rodape{
    background-color: #0d0d0d;
    margin-top: 5.9em;
}

.info-email{
    font-family: Montserrat-Medium;
    font-size: 15px;

    top: 386px;
    padding-top: 100px;
    margin-top: 70px;
}

.copyright{
    margin-top: 20px;
}